@model IEnumerable<ASM_Day7.Models.PersonModel>;
@{
    ViewData["Title"] = "People list";
}
<div class="text-center">
    <h1 class="display -4">List of people</h1>
    <p>
        <a asp-controller="Person" asp-action="Add">Add new person</a>
    </p>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Date of birth</th>
            <th>Phone Number</th>
            <th>Birth Place</th>
            <th>Graduated</th>
            <th>Actions</th>
        </tr>
        @foreach (var person in @Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => person.Id)</td>
                <td>@Html.DisplayFor(modelItem => person.FullName)</td>
                <td>@Html.DisplayFor(modelItem => person.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => person.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => person.BirthPlace)</td>
                <td>@Html.DisplayFor(modelItem => person.IsGraduated)</td>
                <td>@Html.ActionLink("Edit", "Update", new {id = person.Id})
                    | @Html.ActionLink("Details", "Detail", new {id = person.Id}) </td>
            </tr>
        }
    </table>
</div>
